* {
    font-family: 'Franklin Gothic Medium', 'courier new', Arial, monospace;
    font-size: large;
    font-size: 100px;
    color: #000;
}
h1 {
    display: block;
    text-align: center;
    letter-spacing: 0.04em;
    color:rgb(236, 218, 139);
    opacity: 5;
    size: 1000rem;
}
body {
    margin: 0px;
    height: 100vh;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
a {
    cursor: pointer;
}
iframe{
    min-width: 1000px;
    min-height: 1000px;
    border-radius: 50px;
    position:initial;
    padding-left: 50px;
}
audio {
    width: 300px;
    height: 54px;
}
audio:not([controls]) {
    display: none !important;
}
#thing > img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
}
#thing1 > img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 200px;
}
iframe{
    justify-content: center;
    left:10px;
}
footer{
    font-size: 1px !important;
    bottom: 0px;
}
